h1 {
  font-size: 38px;
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
}

p {
  display: block;
}

body {
  background-color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: black;
  font-size: 17px;
  text-align: center;
}

#container {
  background-color: #eee;
  border-radius: 5px;
}

.img-cap {
  background-color: white;
  padding-bottom: 25px;
  font-size: 16px;
  display: block;
  flex-wrap: wrap;
  flex-basis: auto;
  max-width: 100%;
  width: 98%;
  margin: auto;
  height: auto;
}

.img-cap,
figcaption {
  padding-top: 10px;
}

.head-line {
  text-align: center;
}

h2 {
  padding-bottom: 30px;
  padding-top: 50px;
}

ul,
blockquote {
  text-align: left;
  line-height: 2;
  margin: auto;
  width: 35%;
  padding-bottom: 30px;
}

ul {
  line-height: 2.5;
}

blockquote {
  font-style: italic;
}

h3 {
  padding-bottom: 30px;
}

@media screen and (max-width: 880px) {
  img {
    width: 100%;
  }

  .time-line {
    width: 85%;
  }

  blockquote {
    width: 85%;
  }
}
